{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="cn">
<head>
{% block include %}
{{ super() }}
<title>Add 添加事项</title>
{% endblock %}
    <meta charset="UTF-8">
</head>
<body onload="edit_msg('{{ edit_judge_msg }}')">
  {% block body %}
    <div class="bigtable">
      <div class="add">
        <h4>添加事项</h4>
        <centre>
        <form action="/add_test" method="post">
          <div class = "box2">
            <input type="date" name="date" class="bgd0" value={{ date }}>
          <div class = "box3">
            <input type="time" name="start_time" class="bgd0" value={{ time }}>
          <font size="5"> ~ </font>
            <input type="time" name="finish_time" class="bgd0" value={{ time }}>
          </div>
          <input style="border-radius: 10px;" name="event" placeholder="事件" class="bgd0">
          <select name="level" class="bgd0">       
            <option value="0">0级/自动</option>
            <option value="1">1级</option>
            <option value="2">2级</option>
            <option value="3">3级</option>
          </select>
          </div>
          <button class="button" herf='/add' onclick="clickme();"><h3>添加</h3></button>
            </form>
          </centre>


    </div>

{% endblock %}
</body>
</html>
