{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="cn">
<head>
{% block include %}
{{ super() }}
<title>Friends 好友</title>
{% endblock %}
    <meta charset="UTF-8">
</head>
{% block body %}
<body onload="edit_msg('{{ edit_show_msg }}')">
<input type="hidden" value="share">
<div id="main" class="bigtable">
    <div id="left" style="width:20%;height:100%;float:left;">
        <div class="thumbnail" style="background: rgba(255, 255, 255, 0) ;height:100%;width:100%;float:left;">
            <table class="table">
                <thead>
                    <th>
                        <font size="5">我的好友</font>
                    </th>
                    <th>
                        <button href="/add_friends" style="height: 100%;width: auto;background: rgba(0,0,0,0)"><i class="fa fa-users"></i></button>
                    </th>
                </thead>
                <tbody>
                    {% for friends in friends %}
                    <tr>
                        <td>
                            <h3>{{ friends["friends"] }}</h3>
                        </td>
                    </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="/search_friends">
                <input name="input_name" style="background: rgba(255, 255, 255, 0) ;height:100%;width:80%;float:center;" placeholder="用户名/UID">
                <button style="background: rgba(255, 255, 255, 0) ;height:100%;width:20%;float:right;" herf="/search_friends"><i class="fa fa-send"></i></button>
            </form>
        </div>
    </div>

    <div id="right" style="width:80%;height:100%;float:left;">
        <div class="thumbnail" style="background: rgba(255, 255, 255, 0) ;height:100%;width:100%;float:left;">
            <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th><div class = "icon-2"><i class="fa fa-comments-o" style="height: 100;width:auto"></i></div></th>
                    <th scope="col"><font size="5">聊天界面</font></th>
                </tr>
        </table>
    </div>
</div>
</body>
</html>
{% endblock %}