{% extends 'base.html' %}
<head>
{% block include %}
{{ super() }}
<title>Edit 编辑</title>
{% endblock %}
    <meta charset="UTF-8">
</head>
{% block body %}
<body onload="edit_msg('{{ edit_judge_msg }}')">
    <input type="hidden" value="edit">
  <br>
    <center>
        <div class="bigtable">
        <div class="add">
        <font size = 6 style="color: rgb(255, 255, 255);">修改事件</font>
        <div>
        <form action="/edit-del&edi" method="post">
            <input type="hidden" name="type" id="type">
            <select name="id" class="bgd0">       
            {% for table in tables %}
                <option value={{ table["Id"] }}>事件名称:{{ table["event"] }}</option>
            {% endfor %}
                <option value="MAX">到底啦!</option>
            </select>
            <input type="date" class="bgd0" name="day">
            <input type="time" class="bgd0" name="start_time">
            <font>~</font>
            <input type="time" class="bgd0" name="finish_time">
            <input placeholder="修改名称/自动" class="bgd0" name="event">
            <select name="level" class="bgd0">       
                <option value="">0级/自动</option>
                <option value="1">1级</option>
                <option value="2">2级</option>
                <option value="3">3级</option>
              </select>
              </select>
            <input type="submit" value="编辑" class="accbutton" onclick="$('#type').val('update')">
            <input type="submit" value="删除" class="refbutton" onclick="$('#type').val('del')">
        </form>
        </div>
    </div>
    </center>
</div>
<br>
{% endblock %}
</body>
</html>