{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="cn">
<head>
{% block include %}
{{ super() }}
<title>Personal Center 个人中心</title>
{% endblock %}
</head>
{% block body %}
<body>
    <input type="hidden" value="me">
<div class="change">
{% if page == 'edit' %}
<div class="container  right-panel-active" id="login-box">
{% else %}
<div class="container " id="login-box">
{% endif %}
    <div class="form-container sign-up-container">
        <form action="/personal" method="POST">
            <h2>更改信息</h2>           
            <div class="txtb">
                <input name="up_txt" type="up_text">
                <span data-placeholder=OLD:{{ username }} ></span>
            </div>
            <div class="txtb">
                <input name="email" type="up_email">
                <span data-placeholder="Mail" ></span>
            </div> 
            <div class="txtb">
                <input name="set_password" type="up_set_password">
                <span data-placeholder="Password" ></span>
            </div>
            <div class="txtb">
                <input name="check_password" type="up_check_password">
                <span data-placeholder="Confirm Password" ></span>
            </div>            
            <button>提交修改</button>
        </form>
    </div>
    <div class="change">
    <div class="form-container sign-in-container">
        <form action="/logout" method="POST">
            <h2>用户信息</h2>
                <h4>欢迎, {{ username }}</h4>
                <h4>您的UID: {{ uid }}</h4>
            <button onclick="clickme();" class="submit" type="submit" value="Login" herf='/logout'>登出</button>
        </form>
    </div>

    <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>不想改了？</h1>
                    <p>返回上一页</p>
                    <button class="ghost" id="signIn" >返回</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>修改信息?</h1>
                    <p>点击下方按钮</p>
                    <button class="ghost" id="signUp">修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script>
    $("#signUp").click(function(){
        $("#login-box").addClass('right-panel-active')
    })

    $("#signIn").click(function(){
        $("#login-box").removeClass('right-panel-active')
    })

    $(".txtb input").on("focus",function(){
        $(this).addClass("focus")
    })

    $(".txtb input").on("blur",function(){
        if($(this).val() == '')
        $(this).removeClass("focus")
    })
</script>
</html>
{% endblock %}