{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="cn">
<head>
{% block include %}
{{ super() }}
<title>Settings 设置</title>
{% endblock %}
    <meta charset="UTF-8">
</head>
{% block body %}
<body onload="edit_msg('{{ edit_show_msg }}')">
<input type="hidden" value="share">
<div id="main" class="bigtable">
    <div id="left" style="width:20%;height:100%;float:left;">
        <div class="thumbnail" style="background: rgba(255, 255, 255, 0) ;height:100%;width:100%;float:left;">
            <table class="table">
                <thead>
                    <th>
                        <font size="4">设置</font>
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">
                            <button id="Base_Settings" style="height: auto;width: auto;background:rgba(0,0,0,0)"><h4>基础设置</h4></button>
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">
                            <button id="Psnl_Settings" style="height: auto;width: auto;background:rgba(0,0,0,0)"><h4>个性化设置</h4></button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="right" style="width:80%;height:100%;float:left;">
        <div class="thumbnail" style="background: rgba(255, 255, 255, 0) ;height:100%;width:100%;float:left;">
        <form action="/settings_update" method="post">
            <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><font size="4">详细信息</font></th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        <h4>DataBase_Mode</h4>
                    </th>
                    <th>
                        <select name="DataBase_Mode" id="answer">
                            <option value={{ Data_c }}>{{ Data_c }}</option>
                            {% if Data_c == "True" %}
                            <option value="False">False</option>
                            {% endif %}
                            {% if Data_c == "False" %}
                            <option value="True">True</option>
                            {% endif %}
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h4>Keep_Login</h4>
                    </th>
                    <th>
                        <select name="Keep_Login" id="answer">
                            <option value={{ KpLi_c }}>{{ KpLi_c }}</option>
                            {% if KpLi_c == "True" %}
                            <option value="False">False</option>
                            {% endif %}
                            {% if KpLi_c == "False" %}
                            <option value="True">True</option>
                            {% endif %}
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h4>Develop_Mode</h4>
                    </th>
                    <th>
                        <select name="Dev_Mode" id="answer">
                            <option value={{ Dev_c }}>{{ Dev_c }}</option>
                            {% if Dev_c == "True" %}
                            <option value="False">False</option>
                            {% endif %}
                            {% if Dev_c == "False" %}
                            <option value="True">True</option>
                            {% endif %}
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h4>Launch_Host</h4>
                    </th>
                    <th>
                        <input name="Launch_Host" type="launch_host" value={{ Host }}>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h4>Launch_Port</h4>
                    </th>
                    <th>
                        <input name="Launch_Port" type="launch_port" value={{ Port }}>
                    </th>
                </tr>
            </table>
            <button style="background: rgba(255, 255, 255, 0) ;height:100%;width:20%;float:right;" herf="/settings_update"><i class="fa fa-edit"></i></button>
        </form>
    </div>
</div>
</body>
<script>
    $(".txtb input").on("focus",function(){
        $(this).addClass("focus")
    })

    $(".txtb input").on("blur",function(){
        if($(this).val() == '')
        $(this).removeClass("focus")
    })
</script>
</html>
{% endblock %}