{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="cn">
<head>
{% block include %}
{{ super() }}
<title>Type 类别设置</title>
{% endblock %}
  {% block body %}
<body onload="edit_msg('{{ edit_judge_msg }}')">
<div class="bigtable">
  <input type="hidden" name="types" value="type">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">类别</th>
            <th scope="col">优先级</th>
            <th scope="col">编辑</th>
          </tr>
        </thead>
        <tbody>
          <tbody>
            {% for tables in tables %}
            <tr>
                <td>{{ tables["type"] }}</td>
                <td>{{ tables["level"] }}</td>
                <td>
                <form action="/type_del" method="post">
                  <button class="refbutton">删除</button>
                  <input type="hidden" name="id" value={{ tables["Id"] }}>
                </form>
                </td>
            </tr>
            {% endfor %}

        </tbody>
          <tr>
            <form action="/type_add" method="POST">
            <th scope="row">
              <input name="type" type="text" class="acc" placeholder="输入名称" style="background:rgba(0,0,0,0)">
            </th>
            <td>
              <input name="level" type="number" placeholder="优先级" style="background:rgba(0,0,0,0)"">
            </td>
            <td>
              <button herf="/type_add" style="background: linear-gradient(120deg,#8ec5fc 0%, #8df89b 100%);height:auto;width:auto;border-radius :0.5rem;">添加</button>
            </td>
          </form>
          </tr>
        </tbody>
      </table>
    </div>
</body>
{% endblock %}
</html>