{% extends 'base.html' %}
<head>
{% block include %}
{{ super() }}
<title>HOME 首页</title>
{% endblock %}

</head>
{% block body %}
<body onload="edit_msg('{{ edit_judge_msg }}')">
    <input type="hidden" value="home">
                <div class="bigtable">
                  <div class="cap">
                    <form action="/home_check" method="POST">
                    <input type="date" name="datechoose" style="background: rgba(255, 255, 255, 0) ;height:30px;width:60%;float:center;" class="bgd0" value={{ day }} id='date'>
                    <button style="background: linear-gradient(120deg,#8ec5fc 0%, #b4b4b479 100%) ;height:100%;width:20%;float:right;border-radius: 0.5rem;" herf="/home_check" >查询</button>
                    <button style="background: linear-gradient(120deg,#fc8e8e 0%, #f6f88d60 100%) ;height:100%;width:19%;float:right;border-radius: 0.5rem;" herf="/home_check" onclick="$('#date').val('')">重置</button>
                    </form>
                    <table class="table">
                      <tbody>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="col">
                                        <font size="5">完成</font>
                                    </th>
                                    <th scope="col">
                                        <font size="5">日期</font>
                                    </th>
                                    <th scope="col">
                                        <font size="5">开始时间</font>
                                    </th>
                                    <th scope="col">
                                        <font size="5">结束时间</font>
                                    </th>
                                    <th scope="col">
                                        <font size="5">事件</font>
                                    </th>
                                    <th scope="col">
                                        <font size="5">等级</font>
                                    </th>
                                </tr>

                                {% for tables in tables %}
                                <tr>
                                    <form action="/home-event-check" method="post">
                                    <td>
                                        <button herf="/me" class="bgd0" name="finish" value={{ tables["Id"] }} style="border-color: rgba(0,0,0,0);">
                                            <div class="aboutme1">
                                                <i class="fa fa-check-circle-o"></i>
                                            </div>
                                        </button>
                                    </td>
                                    <td>{{ tables["day"] }}</td>
                                    <td>{{ tables["start_time"] }}</td>
                                    <td>{{ tables["finish_time"] }}</td>
                                    <td>{{ tables["event"] }}</td>
                                    <td>{{ tables["level"] }}</td>
                                </form>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                  </div>
                </div>
{% endblock %}
{% block footer %}
{% endblock %}
</html>