
body {
  margin:0 auto;
}
  

.bigtable {
  display: flex;
  border:1px solid #dee2e6cf;
  width:70%;
  height:auto;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 3%;
  background:rgba(255, 255, 255, 0.301);
  backdrop-filter: blur(5px);
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.192);
}

.bigtable .cap {
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
  max-width:90%;
}

.bigtable .right {
  display: flex;
  overflow: hidden;
}

.bigtable .add h4{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  margin-top: 5rem;
}

.bigtable .add form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bigtable .add form .acc {
  outline: none;
  width: 60%;
  height: 5rem;
  font-size: 1.6rem;
  margin-top: 5rem;
  padding: 1rem 0 0 1.6rem;
  border: none;
  border-bottom:1px solid rgb(129, 181, 241) ;
  color: rgb(129, 177, 241);
  background-color: rgba(0,0,0,0);
}

.bigtable .cap table{
  margin: auto;

}

.bigtable .add {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.icon-bar {
  display: flex;
  overflow: hidden;
  background:rgba(255, 255, 255, 0.171);
  backdrop-filter: blur(5px);
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.192);
 }
 
 .icon-bar a {
   float: left;
   width: 70px;
   text-align: center;
   padding: 10px 0;
   transition: all 0.3s ease;
   color: white;
   font-size: 43px;
 }
 

 .icon-bar .me{
  float: right;
  width: 70px;
  text-align: center;
  padding: 10px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 43px;
 }


 .add .fn {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 70%;
}

 .icon-bar .search{
  float: right;
  width: 70px;
  height:70px;
  margin: auto;
  text-align: center;
  transition: all 0.3s ease;
  background-color: rgba(0,0,0,0);
  border: rgba(0,0,0,0);
  border-radius: 10rem;
 }

 .icon-bar .search:hover{
  float: right;
  width: 300px;
  height:70px;
  color:white;
  margin: auto;
  text-align: center;
  transition: all 0.3s ease;
  background-color: rgba(124, 124, 124, 0.527);
  border: rgba(0, 0, 0, 0.247);
  border-radius: 10rem;
  font-display: block;
 }

 .icon-bar .search input{
  float: left;
  width: 100%;
  margin: auto;
  height:100%;
  text-align: center;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0,0,0,0);
  border-radius: 10rem;
 }
 
 .icon-bar .search input::placeholder:hover{
  background-color: rgb(255, 255, 255);
 }

 .icon {
  width: 16.5%;
  text-align: center;
  padding: 10px 0;
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
  font-size: 43px;
}

.icon-2 {
  width: 5%;
  text-align: center;
  padding: 5px 0;
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

 .icon-bar a:hover {
   background-color: rgb(0, 57, 59);
 }
 
 .active {
   background-color: #0080ff;
 }
 
div.img:hover {
   border: 1px solid #777;
}

div.img img {
  width: 100%;
  height: auto;
}

div.desc {
   padding: 15px;
   text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html::before {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background: linear-gradient(120deg,#77ff89 0%, #68b2fc 100%) no-repeat;
}

::selection {
  color: #fff;
  background-color: rgb(129, 241, 144);

}

.box{
  display: flex;
  overflow: hidden;
  width: 45rem;
  height: 47rem;
  background:rgba(255, 255, 255, 0.418);
  backdrop-filter: blur(5px);
  border-radius: 1.5rem;
  overflow: auto;
  margin: 10% auto;
  box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 / 10%);
}
/*
.box {



  backdrop-filter: blur(5px);
  margin: 10% aut  background-image: rgba(255, 255, 255, 0.267);
  overflow: auto;o;
  border-radius: 1.5rem;
}
*/
.box2{
  float: left;
  }
  input-group.mb-3{
  float: left;
  }

.box .left {
  position: relative;
  width: 35%;
  height: 100%;
  background-color:skyblue;
}
/*
.box .left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(left.png);
  background-size: cover;
  opacity: 80%;
}
*/
.box .right {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.box .right h4{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  margin-top: 5rem;
}

.box .right form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box .right form .acc {
  outline: none;
  width: 60%;
  height: 5rem;
  font-size: 1.6rem;
  margin-top: 5rem;
  padding: 1rem 0 0 1.6rem;
  border: none;
  border-bottom:1px solid rgb(129, 181, 241) ;
  color: rgb(129, 177, 241);
  background-color: rgba(0,0,0,0);
}

.right form .acc:focus {
  outline: none;
  color: rgb(129, 168, 241);
  padding: 1rem 0 0 1.6rem;
}

.submit {
  width: 60%;
  height: 5rem;
  color: #f6f6f6;
  background-image: linear-gradient(120deg,#8df89b 0%, #8ec5fc 100%);
  font-size: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  margin: 3rem 0 10% 50%;
  transform: translateX(-50%);
}

.submit .h3 {
  margin-bottom: 3%;
  margin: 0 auto;
  color: #f6f6f6;

}

.right .submit:hover {
  box-shadow: 0 0 2rem -0.3rem rgb(0 0 0 / 15%);
}

.fn {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 80%;
}

.fn a {
  font-size: 1.2rem;
  margin-top: 5rem;
  padding: 1rem 2rem;
  color: #666;
}

.fn a:hover {
  color: rgb(129, 241, 138);
}

.bgd0 {
  background-color: rgba(0,0,0,0);

}

.accbutton {
  background-color: rgba(0, 255, 13, 0.37);border-radius: 0.5rem;
}

.refbutton {
  background-color: rgba(255, 0, 0, 0.37);border-radius: 0.5rem;
}

.aboutme1 {
  font-size: 20px;
}


